---
import Wraper from '@components/Wraper.astro'
import { INFO_WEB } from '@configs/home'
import '../../style/list.scss'
import getPropsBlogs from '@utils/getPropsBlogs'
import PageHeader from '@layouts/blog/PageHeader'
import ListBlog from '@layouts/blog/List'
import PagenationPageBlog from '@layouts/blog/PagenationPageBlog'
import type { Pagenation } from '@Mytypes/blogProps'

export async function getStaticPaths({ paginate }) {
  const GET_POST_LIST = await Astro.glob('../../content/blog/**/*.md')
  const POST_SORT = getPropsBlogs(GET_POST_LIST)
  return paginate(POST_SORT, { pageSize: 5 })
}

const PAGE_PROPS = Astro.props.page as Pagenation
---

<Wraper INFO_SEO={INFO_WEB}>
  <main class='flex flex-wrap mx-10'>
    <PageHeader TOTAL={PAGE_PROPS.total} />
    <ListBlog PAGE_INFO={PAGE_PROPS} />
    <PagenationPageBlog PAGE_PROPS={PAGE_PROPS}/>
  </main>
</Wraper>
