---
import Wraper from '@components/Wraper.astro'
import { SEO } from '@configs/home'
import '../../style/list.scss'
import getPropsBlogs from '@utils/getPropsBlogs'
import PageHeader from '@layouts/blog/PageHeader'
import ListBlog from '@layouts/blog/List'
import PagenationPageBlog from '@layouts/blog/PagenationPageBlog'
import type { page } from '@Mytypes/astro'

export async function getStaticPaths({ paginate }) {
  const posts = await Astro.glob('../../posts/blog/**/*.md')
  const POST_SORT = getPropsBlogs(posts)
  return paginate(POST_SORT, { pageSize: 5 })
}

const PAGE = Astro.props.page as page
---

<Wraper SEO={SEO}>
  <main class='flex flex-wrap mx-10'>
    <PageHeader total={PAGE.total} />
    <ListBlog page={PAGE} />
    <PagenationPageBlog page={PAGE}/>
  </main>
</Wraper>
