---
import pathMd2Url from '@utils/pathMd2Url'
import Wrapper from '@components/Wraper.astro'
import render from '@utils/markdownIt'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/pages/**/*.md')
  return posts.map((post) => {
    const slug = pathMd2Url(post.file)
    const title = slug.replace(/.*\//i, '')
    const Content = render(post.rawContent())
    return {
      params: { slug },
      props: { title, Content, slug },
    }
  })
}

const { title, Content, slug } = Astro.props
const SEO = {
  TITLE: title,
  LINK: `/pages/${slug}`,
  IMG: '',
  DESCRIPTION: title,
}
---

<Wrapper INFO_SEO={SEO}>
  <div id='root'>
    <article class='prose m-5'>
      <div class='prose m-5' set:html={Content} />
    </article>
  </div>
</Wrapper>
