---
import Seo from '@components/Seo'
import '../style/svg.scss'
import Nav from '@components/nav'
import Footer from '@components/footer'
import CookiesAccept from '@components/CookiesAccept'
const { INFO_SEO } = Astro.props
const MODE = import.meta.env.NODE_ENV !== 'development'
---

<html lang='en' data-theme='dracula'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {MODE && <Seo seo={INFO_SEO} />}
  </head>
  <body class='w-full md:w-[900px] mx-auto bg-base-200'>
    <CookiesAccept />
    <a
      href='#content'
      tabindex='1'
      class='btn opacity-0 focus:opacity-100 fixed -z-[99] focus:z-[99]'
    >Menuju ke konten</a
    >
    <Nav />
    <slot />
    <Footer />
    <script>
      const BTN_COOKIES = document.getElementById('btn-cookies-acc')
      BTN_COOKIES.onclick = function () {
        const BODY_COOKIES = document.getElementById('btn-cookies-body')
        BODY_COOKIES.remove()
      }
    </script>
  </body>
</html>
