---
import Seo from '@components/Seo'
const { SEO } = Astro.props
---

<html lang='en' data-theme='dracula'>
  <head>
    <Seo seo={SEO} />
  </head>
  <body class='container mx-auto bg-base-200'>
    <slot />
  </body>
</html>
