---
import Wrapper from '@components/Wraper.astro'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/note/**/*.md')
  return posts.map((post) => {
    const frontmatter = post.frontmatter
    const TITLE = frontmatter.title
    const slug = frontmatter.slug
    const DESCRIPTION = frontmatter.description
    const Content = post.Content
    return {
      params: { slug },
      props: { TITLE, Content, SLUG: slug, DESCRIPTION },
    }
  })
}

const { TITLE, Content, slug, DESCRIPTION } = Astro.props
const SEO = {
  TITLE: TITLE,
  LINK: `/notes/${slug}`,
  IMG: '',
  DESCRIPTION: TITLE + DESCRIPTION,
}
---

<Wrapper INFO_SEO={SEO}>
  <a href='/note' class='btn m-5'>back to list</a>
  <article class='prose m-5'>
    <Content />
  </article>
</Wrapper>
