---
import pathMd2Url from '@utils/pathMd2Url'
import Wrapper from '@components/Wraper.astro'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../posts/notes/**/*.md')
  return posts.map((post) => {
    const slug = pathMd2Url(post.file)
    const title = slug.replace(/.*\//i, '')
    const Content = post.Content
    return {
      params: { slug },
      props: { title, Content, slug },
    }
  })
}

const { title, Content, slug } = Astro.props
const SEO = {
  TITLE: title,
  LINK: `/note/${slug}`,
  IMG: '',
  DESCRIPTION: title,
}
---

<Wrapper SEO={SEO}>
  <a href="/note" class='btn m-5'>back to list</a>
  <article class='prose m-5'>
    <Content />
  </article>
</Wrapper>
