---
import pathMd2Url from '@utils/pathMd2Url'

const posts = await Astro.glob('../../posts/**/*.md')
const postsReplace = posts.map((post) => {
  const slug = pathMd2Url(post.file)
  const title = slug.replace(/.*\//i, '')
  return { slug, title }
})
---

{
  postsReplace.map(({ slug, title }) => {
    return (
      <>
        <a href={slug}>{title}</a>
        <br />
      </>
    )
  })
}
